{version, {shell, "echo -n `git describe --tags --abbrev=0`.`printf '%d' $BUILD_NUMBER`"}}.

{profiles, [
    {default, [
	{prepare, [clean, depends]}
    ]}
]}.


{depends, [
  {dir, "./lib"},
  {repositories, [
    {"http://erlang-build-tool.googlecode.com/files", [
      {proper, "1.1.0.37"}
    ]}
  ]}
]}.

{libraries , ["./lib", "../out/production"]}.

{cc, [
    {name, jiffy},
    {sources, ["c_src", "c_src/double-conversion"]},
    {linux, [
	{ldflags, "-lstdc++"}
    ]}
]}.
