{version, {shell, "echo -n `git describe --tags --abbrev=0`"}}.

{profiles, [
    {clean, [
        {prepare, [clean]}
    ]}
]}.

{cc, [
    {jiffy, [
        {linux, [
            {files, [{include, ["c_src/*.c", "c_src/*.cc", "c_src/double-conversion/*.cc"]}]},
            {ldflags, "-lstdc++"}
        ]}
    ]}
]}.
