{version, {shell, "echo -n `git describe --tags --abbrev=0` | sed s/yaws-//"}}.
{profiles, [
    {clean, [
        {prepare, [clean]}
    ]}
]}.

{cc, [
    {setuid_drv, [
        {linux, [
            {files, [{include, ["c_src/setuid_drv.c"]}]}
        ]}
    ]}
]}.

{edoc, [
    {files, [{exclude, ["src/yaws_dime.erl"]}]}
]}.
