.ebtbs_state
projects/*/out
projects/jiffy/jiffy
projects/ktuo/ktuo
projects/proper/proper
projects/erlandox/erlandox
projects/ebt/ebt
projects/meck/meck
projects/ranch/ranch
projects/cowboy/cowboy
projects/ibrowse/ibrowse
projects/yaws/yaws
projects/getopt/getopt
projects/erlangxl/erlangxl
projects/ebloom/ebloom
projects/cbase64/cbase64*
projects/ebml/ebml
projects/protobuffs/protobuffs/
projects/gpb/gpb
projects/cowboot/cowboot
