{define, version, {shell, "echo -n `git describe --tags --abbrev=0`"}}.

{libraries, ["./lib"]}.

{profiles, [
    {default, [
        {prepare, [clean, depends]}
    ]}
]}.

{depends, [
    {dir, "./lib"},
    {repositories, [
        {"http://repo.erlangtoolbox.org:8080", [
            {proper, "1.1"}
        ]}
    ]}
]}.

{cc, [
    {cbase64, [
        {linux, [
            {libdir, ""},
            {files, [{include, ["c_src/*.c"]}]}
        ]}
    ]}
]}.

