{define, version, {shell, "echo -n `git describe --tags --abbrev=0`"}}.
{profiles, [
    {default, [
        {prepare, [clean, depends]}
    ]}
]}.

{depends, [
    {dir, "./lib"},
    {repositories, [
		{"http://repo.erlangtoolbox.org:8080", [
            {ranch, "0.9.0"}
        ]}
    ]}
]}.

{libraries , ["./lib"]}.
