{version, {shell, "echo -n `git describe --tags --abbrev=0`"}}.
{profiles, [
    {default, [
        {prepare, [clean, depends]}
    ]}
]}.

{depends, [
    {dir, "./lib"},
    {repositories, [
        {"http://erlang-build-tool.googlecode.com/files", [
            {ranch, "0.6.2"}
        ]}
    ]}
]}.

{libraries , ["./lib"]}.
