{define, version, {shell, "echo -n `git describe --tags --abbrev=0`"}}.

{libraries, ["lib", "../out/production"]}.

{profiles, [
    {default, [
        {prepare, [clean, depends]}
    ]}
]}.

{depends, [
    {dir, "./lib"},
    {repositories, [
        {"http://repo.erlangtoolbox.org:8080", [
            {ranch, "0.9.0"},
            {cowlib, "0.6.1"}
        ]}
    ]}
]}.

{compile, [
    {sources, [["src/cowboy_sub_protocol.erl", "src/cowboy_middleware.erl"], ["src/*.erl"]]}
]}.

{edoc, [
    {files, [{exclude, ["src/cowboy_protocol.erl"]}]}
]}.


