{define, version, {shell, "echo -n `git describe --tags --abbrev=0|sed s/v//g`"}}.

{libraries, ["../out/production"]}.

{compile, [
    {sources, [
		[
			"src/vararg.erl", 
			"src/strip_types.erl", 
			"src/proper_transformer.erl", 
			"src/proper_prop_remover.erl", 
			"src/proper_typeserver.erl"
		], 
		["src/*.erl"]
	]},
	{flags, [debug_info]}
]}.

{eunit, [
	{files, [
		{exclude, ["test/proper_tests.erl"]}
	]}
]}.

{profiles, [
    {default, [
        {prepare, [clean]}
    ]}
]}.
