{version, {shell, "echo -n `git describe --tags --abbrev=0|sed s/v//g`.0.`printf '%d' $BUILD_NUMBER`"}}.
{libraries, ["../out/production"]}.
{compile, [
    {first, ["vararg.erl", "strip_types.erl", "proper_transformer.erl", "proper_prop_remover.erl", "proper_typeserver.erl"]}
]}.
{profiles, [
    {default, [
	{prepare, [clean]}
    ]}
]}.
