{define, version, {shell, "echo -n `git describe --tags --abbrev=0 | cut -d p -f 1`"}}.

{libraries, ["lib"]}.

{profiles, [
    {default, [
        {prepare, [clean, depends]}
    ]}
]}.

{depends, [
    {dir, "./lib"},
    {repositories, [
        {"http://repo.erlangtoolbox.org:8080", [
            {meck, "0.8.2"}
        ]}
    ]}
]}.

{compile, [
    {flags, [warnings_as_errors, debug_info]}
]}.

{eunit, [
    {files, [{exclude, ["test/*.erl"]}]}
]}.
