{define, version, {shell, "echo -n `git describe --tags --abbrev=0`"}}.

{libraries, ["../out/production"]}.

{profiles, [
    {default, [
        {prepare, [clean]}
    ]}
]}.

{compile, [
    {flags, [debug_info]},
    {sources, [["src/gpb_codegen.erl"], ["src/*.erl"]]}
]}.

{eunit, [
	{files, [{exclude, ["test/*.erl"]}]}
]}.
